<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../assets/images/logo/logo_only.png" rel="icon"/>


    <!-- ========================= CSS here ========================= -->

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css    ">

    
        <script src="../assets/js/jquery-3.6.0.js"></script>
        <script src="../assets/js/jquery.slicknav.js"></script>    

          <style>
            /*======================================
                customer
            ========================================*/

            /* 글 거리두기 */
            body div.what h2,
            body div.what h3 {
                margin: 80px;
            }

            /* 상담사 크기조절 */
            .lni.lni-headphone-alt {
                font: normal normal normal 3em/1 'LineIcons';
                margin-top: 30px;
                color: rgb(185, 83, 29);
            }

            /* center{
                color: black;
            } */
            /* h2 center{
                color: rgba(97, 20, 20, 0.882);
            } */
            /* 리스트 */
            .customer_menu {
                width: 80%;
                display: flex;
                flex-direction: column;
                margin: auto;
            }

            .customer_menu ul {
                display: flex;
                justify-content: center;
            }
            .customer_menu ul li {
                display: flex;
                align-items: center;
                justify-content: center;
                /* margin: 0 14px; */
                font-size: 10px;
                /* border: 6px solid rgb(70, 119, 215); */
                border-radius: 4px;
                width: 100%;
                min-width: 100px;
                text-decoration: none;
            }

            .customer_menu ul li a {
                text-decoration: none;
            }
            .customer_menu ul li a:hover {
                text-decoration: none;
            }

            .menu_main li a {
                width: 100%;
                cursor: pointer;
                border: 1px solid rgb(238, 238, 238);
                background-color: rgb(250, 250, 250);
                color: rgb(85, 85, 85);

                /* border: 1px solid rgb(61, 130, 247);
                background-color: rgb(61, 130, 247); */
            }

            .detail-page {
                display: none;
                width: 100%;
                min-width: 500px;
                /* margin: 0  */
            }

            .detail-page-area {
                margin-top: 16px;
                display: flex;
                justify-content: center;
                /* width: 100%; */
            }
            .show {
                visibility: visible !important;
            }

            /* test */
            /* test */
            /* test */
          </style>

          <script>
              $(function(){
                var notClickedBorder = '1px solid rgb(238, 238, 238)';
                var clickedBorder = '1px solid #FF8000';

                var notClickedBackground = 'rgb(250, 250, 250)';
                var clickedBackground = '#FF8000';

                // 다 ㄲㅈㄲㅈ
                $('.menu_main li a').on('click',function(){
                    $('.menu_main li a').css('border',notClickedBorder);
                    $('.menu_main li a').css('background-color',notClickedBackground);
                })

                $('a[data-stats-id=all]').on('click',function(){
                    $('.detail-page').hide();
                    $('.detail-all').show();

                  
                    $('a[data-stats-id=all]').css('border',clickedBorder);
                    $('a[data-stats-id=all]').css('background-color',clickedBackground);

                })

                $('a[data-stats-id=kakaotalk]').on('click',function(){
                    $('.detail-page').hide();
                    $('.detail-kakaotalk').show();

                    $('a[data-stats-id=kakaotalk]').css('border',clickedBorder);
                    $('a[data-stats-id=kakaotalk]').css('background-color',clickedBackground);
                })

                $('a[data-stats-id=FAQ]').on('click',function(){
                    $('.detail-page').hide();
                    $('.detail-faq').show();

                    $('a[data-stats-id=FAQ]').css('border',clickedBorder);
                    $('a[data-stats-id=FAQ]').css('background-color',clickedBackground);
                })

                $('a[data-stats-id=notice]').on('click',function(){
                    $('.detail-page').hide();
                    $('.detail-notice').show();

                    $('a[data-stats-id=notice]').css('border',clickedBorder);
                    $('a[data-stats-id=notice]').css('background-color',clickedBackground);
                })

                $('a[data-stats-id=event]').on('click',function(){
                    $('.detail-page').hide();
                    $('.detail-event').show();

                    $('a[data-stats-id=event]').css('border',clickedBorder);
                    $('a[data-stats-id=event]').css('background-color',clickedBackground);


                })
            })

          </script>

    

    <!-- ========================= JS here ========================= -->
    
    <script src="../assets/js/main_1.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#headers').load("header.html");
            $('#footers').load("footer.html");
        });
         //========= Hero Slider
    </script>

</head>

<body>
    <!-- header import -->
    <div id="headers"></div>


    <!-- 상담원 로고 -->
    <div class="what" style="text-align:center"> 
        <i class="lni lni-headphone-alt">&nbsp;고객센터</i>
            <h2></h2>

    </div>
    


    <!-- 고객센터 메뉴 -->
    <div class="customer_menu" style="text-align:center" data-stats-ve="45">
        <table class="table">
            <ul class="menu_main">
                <li>
                    <a data-stats-id="all" checked="checked">
                        <span aria-hidden="true" >
                        </span>
                        <h3>전체</h3>
                    </a>
                </li>
                <li>
                    <a data-stats-id="kakaotalk" >
                        <span aria-hidden="true">
                        </span>
                        <h3>문의</h3>
                    </a>
                </li>
                <li>
                    <a data-stats-id="FAQ" >
                        <span aria-hidden="true">
                        </span>
                        <h3>FAQ</h3>
                    </a>
                </li>
                <li>
                    <a data-stats-id="notice">
                        <span aria-hidden="true">
                        </span>
                        <h3>공지</h3>
                    </a>
                </li>
                <li>
                    <a data-stats-id="event" >
                        <span aria-hidden="true">
                        </span>
                        <h3>이벤트</h3>
                    </a>
                </li>
            </ul>
            
            <div class="detail-page-area">
                <!-- All 화면  여기수정중-->
                <div class="detail-page detail-all" style="display: block;">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#all-collapseOne" aria-expanded="false" aria-controls="all-collapseOne">
                                문의#1
                              </a>
                            </h4>
                          </div>
                          <div id="all-collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#all-collapseTwo" aria-expanded="false" aria-controls="all-collapseTwo">
                                문의#2
                              </a>
                            </h4>
                          </div>
                          <div id="all-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#all-collapseThree" aria-expanded="false" aria-controls="all-collapseThree">
                                문의#3
                              </a>
                            </h4>
                          </div>
                          <div id="all-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>

                <!-- 1ㄷ1문의 화면 -->
                <div class="detail-page detail-kakaotalk">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#kakaotalk-collapseOne" aria-expanded="true" aria-controls="kakaotalk-collapseOne">
                                문의#1
                              </a>
                            </h4>
                          </div>
                          <div id="kakaotalk-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kakaotalk-collapseTwo" aria-expanded="false" aria-controls="kakaotalk-collapseTwo">
                                문의#2
                              </a>
                            </h4>
                          </div>
                          <div id="kakaotalk-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kakaotalk-collapseThree" aria-expanded="false" aria-controls="kakaotalk-collapseThree">
                                문의#3
                              </a>
                            </h4>
                          </div>
                          <div id="kakaotalk-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>

                <!-- FAQ 화면 -->
                <div class="detail-page detail-faq">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#faq-collapseOne" aria-expanded="true" aria-controls="faq-collapseOne">
                                [공지] 쿠팡비즈 마케팅 수신 동의 절차(광고 수신동의) 추가 안내
                              </a>
                            </h4>
                          </div>
                          <div id="faq-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                안녕하세요 쿠팡비즈 고객님,
                                쿠팡을 사랑해주시는 고객님께 항상 진심으로 감사드립니다.
                                
                                쿠팡비즈 고객님들에게 보다 유용한 정보를 제공하고자 마케팅 수신 동의 절차를 마련하였고, 동의 하신 분들에게 ‘광고성 푸시 알람’이 제공되어 안내 드립니다.
                                
                                1. 변경 내용
                                
                                마케팅 광고를 위한 마케팅 수신 동의 절차 마련하여 별도 동의 항목 신설
                                신규 고객의 경우는 가입단계에서 ‘마케팅 수신 동의(광고성 푸시 수신동의)’ 확인이 가능합니다.
                                기존 고객의 경우는 1달에 1번 ‘마케팅 수신 동의(광고성 푸시 수신동의)’에 대한 알림이 노출됩니다. 또한 ‘마이쿠팡 > 내정보관리 > 푸시설정’에서 변경 가능합니다.  
                                
                                2. 적용시기
                                
                                2022년 1월 내 순차적으로 전체 회원 적용
                                
                                3. 마케팅 수신 동의(광고성 푸시 수신동의) 변경 방법
                                
                                쿠팡 앱 ‘마이쿠팡>내정보관리>푸시설정’에서 변경하실 수 있습니다.
                                마케팅 수신 동의는 선택사항으로 수신 동의 하지 않으셔도 쿠팡 비즈 이용에 어떠한 불이익도 없습니다.
                                
                                4. 기타 사항
                                
                                변경사항에 대한 안내 및 적용이 전체 회원을 대상으로 순차적으로 진행, 이 과정에서 일부 고객의 경우 푸시설정 화면에서 수신거부 상태값이 정상적으로 표기되지 않을 수 있습니다. 만약 수신거부 상태에서 광고성 푸시가 계속 수신된다면, 광고성 푸시 수신동의를 재설정 (On으로 변경 후 다시 Off로 변경) 하시면 정상적으로 설정이 반영됩니다.
                                관련하여 다른 문의 사항이 있으신 경우 고객센터(1577-7011)로 접수해 주시면 신속하고 친절하게 안내해드리겠습니다.
                                
                                쿠팡은 앞으로도 고객님께 더욱 만족스러운 서비스를 제공할 수 있도록 노력하겠습니다.
                                감사합니다.                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-collapseTwo" aria-expanded="false" aria-controls="faq-collapseTwo">
                                선불충전금에 대한 신탁 및 보증보험 가입 공지                              </a>
                            </h4>
                          </div>
                          <div id="faq-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                안녕하세요. 쿠팡페이㈜입니다.

                                쿠팡페이㈜의 이용자 자금 보호정책에 대해 안내 드립니다.
                                
                                쿠팡페이㈜는 이용자 자금의 안전한 관리를 위해, 선불충전금의 50% 이상을 이용자를 수익자로 하여 신탁하거나 이용자를 피보험자로 하여 지급보증보험에 가입하였으며, 나머지 50%도 안전자산으로 안전하게 관리하고 있습니다.
                                
                                ü  선불충전금 : 이용자가 선불전자지급수단 발행의 대가로 쿠팡페이㈜에 지급한 금액으로서 대금결제, 환급 등에 사용한 금액을 차감한 잔액을 말합니다.
                                
                                ü  이는, 금융감독원의 「전자금융업자의 이용자 자금 보호 가이드라인」에 따른 것으로, 해당 가이드라인은 선불전자지급수단 발행 및 관리업으로 등록한 모든 전자금융업자에게 적용되는 내용입니다.
                                
                                또한, 쿠팡페이㈜는 관련 법률에 따른 약관개정 절차를 진행하고, 매 영업일 마다 선불충전금 총액과 신탁금 등 실제 운용중인 자금 총액의 상호 일치 여부를 점검하며, 매 분기 선불충전금 규모 및 신탁내역, 지급보증보험 가입여부, 부보 금액(보험가입금액) 등을 홈페이지() 등에 공시(분기 종료 후 10일 이내)할 예정입니다.
                                
                                 
                                
                                쿠팡페이㈜는 이용자 자금의 안전한 보호를 위해서도 최선의 노력과 최고의 서비스를 제공하도록 하겠습니다.
                                
                                 
                                
                                감사합니다.                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq-collapseThree" aria-expanded="false" aria-controls="faq-collapseThree">
                                [안내] 금융감독원 사칭 (쿠팡 사칭 포함) 악성코드 피해 주의 안내
                              </a>
                            </h4>
                          </div>
                          <div id="faq-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                안녕하세요 쿠팡 입니다.

 

                                최근 인터넷 이용 시 쿠팡을 비롯한 타 인터넷 사이트에 방문할 경우  
                                보안인증을 가장한 팝업 악성코드가 지속적으로 유포되어 주의 말씀 드립니다.
                                
                                 
                                
                                
                                 
                                
                                해당 악성코드는 시스템에서 사용하는 hosts 파일을 변조하는 방법으로 피싱 사이트 접속을 유도하는 파밍 악성코드입니다.
                                
                                이 악성코드에 감염되면, 쿠팡 홈페이지 접속 시 아래와 같은 이미지가 노출되거나 접속이 되지 않는 증상이 발생할 수 있습니다.
                                
                                 
                                
                                해당 팝업을 확인하셨을 경우, 절대 금융 정보를 입력하지 마시고
                                
                                만약 금융정보까지 입력하셨다면, 금융정보 유출로 인한 금전적 피해 등의 금융사고로 이어질 수 있으므로,
                                
                                1) 보호나라()를 통해 해킹피해신고(전화:118)를 접수하시고
                                
                                2) 해당 금융사에 연락하여 ‘비밀번호’와 ‘보안카드’를 변경해 주시기 바랍니다.
                                
                                
                                
                                ※ 예방 및 조치방법 ※
                                
                                 
                                
                                예방 방법
                                
                                1. JRE 최신 업데이트
                                
                                1) 시작 -> 제어판을 클릭하여 Java 아이콘이 존재하는 경우 클릭합니다.
                                
                                2) [업데이트] 탭에서 ‘지금 업데이트’를 클릭하여 업데이트를 진행합니다.
                                
                                 
                                
                                2. Flash Player 최신 버전으로 설치
                                
                                    1)  사이트에 접속합니다.
                                
                                2) Google 툴바 설치 여부 판단 후 ‘지금 다운로드’를 클릭하여 최신 버전의 Flash Player를 설치합니다.
                                
                                 
                                
                                3. Adobe Reader 최신 업데이트
                                
                                1) 시작 -> 모든 프로그램 -> Adobe Reader 아이콘이 존재하는 경우 실행합니다.
                                
                                2) 프로그램이 실행되면 메뉴의 [도움말] -> ‘업데이트 확인’을 클릭하여 업데이트를 진행합니다.
                                
                                 
                                
                                4. 윈도우 OS 업데이트
                                
                                  1) 시작 -> 모든 프로그램 -> Windows Update를 클릭합니다.
                                
                                2) OS 정품 사용자이고, 업데이트 항목이 존재하는 경우 ‘빠른 설치’ 항목이 나타납니다.
                                
                                3) ‘빠른 설치’를 클릭하고 ‘업데이트 설치’를 클릭하면 자동으로 보안패치가 이루어집니다.
                                
                                 
                                
                                 
                                
                                조치 방법
                                
                                악성코드 치료를 위해 KISA 보호나라() 및 신뢰 할 수 있는
                                
                                백신 프로그램을 설치하고, 최신 엔진으로 업데이트한 후 검사/치료로 조치하시기 바랍니다                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>

                <!-- 공지사항 화면 -->
                <div class="detail-page detail-notice">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#notice-collapseOne" aria-expanded="true" aria-controls="notice-collapseOne">
                                [공지] 위해 상품정보 안내
                              </a>
                            </h4>
                          </div>
                          <div id="notice-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                안녕하세요. 쿠팡입니다.

                                쿠팡은 국내 및 해외 리콜 정보를 수집하여 안내하고 있습니다.
                                
                                2022.03.11 일자로 공지된 아래의 사항에 대해 안내 드립니다.                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#notice-collapseTwo" aria-expanded="false" aria-controls="notice-collapseTwo">
                                [공지]고객 개인정보처리방침 개정 안내                              </a>
                            </h4>
                          </div>
                          <div id="notice-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                안녕하세요.  

                                (주)쿠팡은 회원 여러분들의 개인정보를 소중하게 생각하고, 개인정보를 보호하기 위하여 항상 최선을 다해 노력하고 있습니다. 
                                
                                 
                                
                                새롭게 변경될 개인정보처리방침 내용을 확인하시기를 바랍니다. 
                                
                                 
                                
                                1. 주요 개정사항 
                                
                                개인정보 수집 및 이용에 관한 사항 현행화 
                                
                                 
                                
                                [변경 후] 
                                
                                1.5 크리에이터 회원                             </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#notice-collapseThree" aria-expanded="false" aria-controls="notice-collapseThree">
                                [공지]고객 개인정보처리방침 개정 안내                              </a>
                            </h4>
                          </div>
                          <div id="notice-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                안녕하세요.  

                                (주)쿠팡은 회원 여러분들의 개인정보를 소중하게 생각하고, 개인정보를 보호하기 위하여 항상 최선을 다해 노력하고 있습니다. 
                                
                                 
                                
                                새롭게 변경될 개인정보처리방침 내용을 확인하시기를 바랍니다. 
                                
                                 
                                
                                1. 주요 개정사항 
                                
                                새로운 크리에이터 개인정보 수집 및 이용에 관한 사항 추가 
                                
                                [변경 전]
                                
                                 -
                                 
                                
                                [변경 후]                             </div>
                          </div>
                        </div>
                      </div>
                      
                </div>

                <!-- 이벤트 화면 -->
                <div class="detail-page detail-event">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#event-collapseOne" aria-expanded="true" aria-controls="event-collapseOne">
                                [이벤트] <아이러브 크리스마스> 이벤트 당첨자 공지                              </a>
                            </h4>
                          </div>
                          <div id="event-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                "축하드립니다!"

                                쿠팡이 크리스마스를 맞이하여 진행한 '아이러브 크리스마스 이벤트'의 당첨자를 아래와 같이 발표합니다.
                                당첨되신 분들 축하드리며, 응모해주신 모든 분들께도 감사드립니다!
                                
                                [기본 안내사항]
                                *본 이벤트는 쿠팡과 포커스미디어코리아가 함께 진행한 이벤트로, 당첨 및 제세공과금 처리관련 연락은 포커스미디어코리아가 드릴 예정입니다.
                                
                                1)당첨되신 분들께는 당첨 문자 일괄 발송 후 필요시 담당자 연락 예정입니다.   
                                ▶1~2등 당첨자의 제세공과금은 쿠팡과 포커스미디어코리아가 부담합니다. (단, 세금처리를 위한 개인정보를 요청드릴 수 있습니다)
                                ▶3등 당첨자에게는 경품(쿠팡캐시) 지급을 위한 쿠팡ID 확인을 요청 드릴 수 있습니다.     
                                
                                2) 1등 경품배송은 개별적으로 연락드릴 예정이며, 2,3등 경품(쿠팡캐시)은 12/21(화)까지 지급 완료됩니다.
                                3) 쿠팡 인스타그램 이벤트의 당첨자는 해당 컨텐츠의 댓글로 12/15(수)에 발표되었습니다.
                                4) 기타문의 : help@coupang.com
                                
                                
                                [당첨자 명단]
                                *당첨자 확인 (이름 + 휴대폰 맨 뒤 4자리)                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#event-collapseTwo" aria-expanded="false" aria-controls="event-collapseTwo">
                                [이벤트] 디즈니 특별관 <엔칸토: 마법의 세계> 예매권 이벤트 당첨자 발표                              </a>
                            </h4>
                          </div>
                          <div id="event-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                디즈니 특별관 예매권 이벤트에 참여해 주셔서 감사합니다.


                                예매권 사용관련 세부적인 내용은 12월 3일 (금) 오후 7시전까지 당첨자분들에게
                                개별문자로 안내해 드릴 예정이니 문자 확인 부탁드립니다.
                                
                                
                                *구매 당첨자 확인 (이름 + 휴대폰 맨 뒤 4자리)                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#event-collapseThree" aria-expanded="false" aria-controls="event-collapseThree">
                                [이벤트] 닌텐도 스위치 OLED모델 (화이트) 구매 응모 당첨안내                              </a>
                            </h4>
                          </div>
                          <div id="event-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                닌텐도 스위치 OLED모델 (화이트) 구매 응모에 참여해 주셔서 감사합니다.

                                본 응모는 상품을 구매할 수 있는 구매권 응모였으며, 당첨자분들은 기한내 구매를 완료를 해주셔야 제품 배송이 완료 됩니다. 세부적인 내용은 당첨자분들에게 개별문자로 안내해 드릴 예정이니 문자 확인 부탁드립니다.
                                 
                                *구매 당첨자 확인 (이름 + 휴대폰 맨 뒤 4자리)                            </div>
                          </div>
                        </div>
                      </div>
                      
                </div>

            </div>

        </table>
    </div>






    <!-- footer import -->
    <div id="footers"></div>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/assets/js/bootstrap.min.js"></script> -->
    <!-- Js Plugins -->
    <script src="../assets/js/cleaned/jquery-3.3.1.min.js"></script>
    <script src="../assets/js/cleaned/bootstrap.min.js"></script>
    
</body>

</html>