<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon"/>

</head>

<body>

    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-4">
                            <li>
                                <a href="info_aboutWO.html">회사소개</a>
                            </li>
                        </div>
                        <div class="col-lg-2 col-md-4 col-4">
                            <li>
                                <a href="info_termsOfService.html">이용약관</a>
                            </li>
                        </div>

                        <div class="col-lg-2 col-md-4 col-4">
                            <li>
                                <a href="info_privacyTerm.html">개인정보처리방침</a>
                            </li>
                        </div>

                        

                        <div class="col-lg-2 col-md-4 col-4">
                            <li>
                                <a href="javascript:void(0)">싸장님 영역</a>
                            </li>
                        </div>

                        <div class="col-lg-2 col-md-4 col-4">
                            <li>
                                <a href="info_howToUse.html">이용안내</a>
                            </li>
                        </div>

                        <div class="col-lg-2 col-md-4 col-4">
                            <div class="lastFooter">
                                <li>
                                    <a href="info_storeInquiry.html">입점문의</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="sogae">
                    <span>
                        본사 : 서울특별시 중구 통일로 92, 12층(순화동, 케이지타워) l 대표이사 : 이상준<br>
                        개인정보관리책임자 : 설동욱<br>
                        통신판매번호 : 제 2019-서울중구-2086호 l 사업자등록번호 : 886-85-00662 l 법인등록번호 : 110111-1959183<br>
                        고객지원센터 대표번호 : 1666-7790 l FAX : 02-3672-5615 l 홈페이지 담당자 : KG에듀원 이룸<br>
                        Copyright ⓒ KG ITBANK. All rights reserved.
                    </span>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner-content">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-12">
                            <div class="payment-gateway">
                                <span></span>
                                <img src="resources/assets/images/footer/credit-cards-footer.png" alt="#">
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="copyright">
                                <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                        target="_blank"><strong>Three Jira</strong></a></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <ul class="socila">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    
</body>

</html>