<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../assets/images/logo/logo_only.png" rel="icon"/>


    <!-- ========================= CSS here ========================= -->
    
</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- /End Preloader -->

    <!-- 헤더 import -->
    <div id="headers"></div>

    <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(../assets/images/hero/slider-bg1.jpg);border-radius: 20px 20px 20px 20px ;">
                                <div class="content">

                                    <div class="button">
                                        <a href="product-grids.html" class="btn">이벤트 보러가기</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(../assets/images/hero/slider-bg2.jpg);border-radius: 20px 20px 20px 20px ;">
                                <div class="content">

                                    <div class="button">
                                        <a href="product-grids.html" class="btn">이벤트 보러가기</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner"
                                style="margin-top:20px;background-image: url('../assets/images/hero/slider-bnr.jpg'); border-radius: 20px 20px 20px 20px ;">
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>오늘의 음료</h2>
                                    <p>뱅쇼(vin chaud)는 프랑스어로 '따뜻한 와인'이란 뜻으로, 와인에 여러 과일과 계피를 비롯한 향신료를 넣고 끓여 만든 음료수를 말한다.
                                    </p>
                                    <div class="button">
                                        <a class="btn" href="product-grids.html">뱅쇼 파는 카페 보러가기</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product-1 section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>자주 주문한 카페</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/1.jpg" alt="#">
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 서초구</span>
                            <h4 class="title">
                                <a href="product-grids.html">고디바 상청점</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.39 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>5분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>1.2km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/2.jpg" alt="#">
                            <span class="sale-tag">-5%</span>
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 종로구</span>
                            <h4 class="title">
                                <a href="product-grids.html">컴포즈 종로3가점</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>4.89 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>9분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>2.0km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/3.jpg" alt="#">
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 용산구</span>
                            <h4 class="title">
                                <a href="product-grids.html">서울서둘째로잘하는집</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>4.77 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>15분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>3.2km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/4.jpg" alt="#">
                            <span class="new-tag">New</span>
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 구로구 </span>
                            <h4 class="title">
                                <a href="product-grids.html">삼청동우피</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>4.76 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>6분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>2.9km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->

                </div>
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product-2 section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>추천 카페</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/5.jpg" alt="#">
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 광양구</span>
                            <h4 class="title">
                                <a href="product-grids.html">온더그라운드</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.99 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>6분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>2.9km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/6.jpg" alt="#">
                            <span class="sale-tag">-20%</span>
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 목동</span>
                            <h4 class="title">
                                <a href="product-grids.html">신일룡의 호두파이</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>4.87 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>16분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>2.9km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/7.jpg" alt="#">
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">경기도 용인시</span>
                            <h4 class="title">
                                <a href="product-grids.html">스타벅스 기흥점</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>4.12 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>6분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>20.9km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/8.jpg" alt="#">
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">일본 도쿄</span>
                            <h4 class="title">
                                <a href="product-grids.html">곤니찌와</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>5.00 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>6분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>543.9km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->

                </div>
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->

    <!-- Start Trending Product Area -->
    <section class="trending-product section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>신규 카페</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/9.jpg" alt="#">
                            <span class="new-tag">New</span>
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 종로구</span>
                            <h4 class="title">
                                <a href="product-grids.html">쿄쿄쿄쿄 커피</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.1 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>3분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>0.9km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/10.jpg" alt="#">
                            <span class="new-tag">New</span>
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 종로구</span>
                            <h4 class="title">
                                <a href="product-grids.html">존맛탱 커피</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>3.6 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>6분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>1.3km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/11.jpg" alt="#">
                            <span class="new-tag">New</span>
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 종로구</span>
                            <h4 class="title">
                                <a href="product-grids.html">카페온리 종로점</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>1.0 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>2분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>0.3km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="../assets/images/cafe/12.jpg" alt="#">
                            <span class="new-tag">New</span>
                            <div class="button">
                                <a href="product-details.html" class="btn"><i class="lni lni-cart"></i> 주문하기</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">서울시 종로구</span>
                            <h4 class="title">
                                <a href="product-grids.html">메가커피 종로점</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>4.80 리뷰</span></li>
                            </ul>
                            <ul class="location">
                                <li><span class="icon-clock"></span></li>
                                <li><a>5분</a></li>
                                <li><span class="icon-location-pin"></span></li>
                                <li><a>0.5km</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Product -->

                </div>
            </div>
        </div>
    </section>
    <!-- End Trending Product Area -->


 

    <!-- footer import -->
    <div id="footers"></div>

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="../assets/js/tiny-slider.js"></script>
    <script src="../assets/js/jquery-3.6.0.js"></script>
    <script type="text/javascript">
         jQuery(document).ready(function () {
            $('#headers').load("header.html");
            $('#footers').load("footer.html");  
        });
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
</body>

</html>