<!DOCTYPE html>
<html class="no-js" lang="kor">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon"/>

     <!-- ========================= CSS here ========================= -->

     <!-- ========================= JS here ========================= -->
     <script src="resources/assets/js/jquery-3.6.0.js"></script>
    
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#headers').load("header.html");
            $('#footers').load("footer.html");
        });
    </script>

</head>

<body>
    <!-- header import -->
    <%@ include file="/WEB-INF/views/user/inc/header.jsp" %>

    <!-- https://passorder.co.kr/agreement -->
    <div class="container">
        <div class="col-12">
            <h3 class="text-center mt-50 mb-50" style="color:#6f6f6f">개인정보처리방침</h3>

            <ul>
                <li><a href="#a1" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 제1조 목적</a></li>
                </li>
                <li><a href="#a2" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 제2조 수집하는 개인정보의 항목</a></li>
                <li><a href="#a3" class="text-secondary mb-40" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 제3조 개인정보 수집에 대한 동의</a></li>
            </ul>
            <div class="container-md-will g-0 border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <ul class="m-5 p-2" style="padding: 35px;">
                <li class="p-2">
                    <a name="a1" class="mb-4 text-secondary" style="font-size: 16px;font-weight: 600; ">제1조 (목적)</a><br>
                    ① “개인정보”란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보 만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다.</br>
                    <br>② 회사는 귀하의 개인정보보호를 매우 중요시하며, 『개인정보보호법』, 『정보통신망 이용촉진 및 정보보호에 관한 법률』 상의 개인정보보호규정 및 정보통신부가 제정한 『개인정보보호지침』을 준수하고 있습니다. 회사는 개인정보처리방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.</br>
                    <br>③ 회사는 개인정보처리방침을 홈페이지 첫 화면에 공개함으로써 귀하께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.</br>
                    <br>④ 회사는 개인정보처리방침의 지속적인 개선을 위하여 개인정보처리방침을 개정하는데 필요한 절차를 정하고 있습니다. 그리고 개인정보처리방침을 개정하는 경우 버전번호 등을 부여하여 개정된 사항을 귀하께서 쉽게 알아볼 수 있도록 하고 있습니다.</br>
                    <br>
                </li>
                <li class="p-2">
                    <a name="a2" class="mt-4 mb-4 text-secondary" style="font-size: 16px;font-weight: 600; ">제2조 (수집하는 개인정보의 항목)</a><br>
                    회사는 별도의 회원가입 절차 없이 대부분의 컨텐츠에 자유롭게 접근할 수 있습니다. 그러나 회사는 맞춤형 서비스를 제공하기 위하여 회원서비스 및 제휴사를 통해 이용자의 정보를 수집하고 있습니다. 회사의 회원제 서비스를 이용하시고자 할 경우 다음의 정보를 입력해주셔야 하며 선택항목을 입력하시지 않았다 하여 서비스 이용에 제한은 없습니다.
                        단, 회사는 다음 각 호의 어느 하나에 해당하는 경우에는 법령에 따라 이와 같은 동의 없이 이용자의 개인정보를 수집 및 이용할 수 있습니다.</br>
                        <br>① 회원 가입 시 수집하는 개인정보의 범위</br>
                   1. 필수항목 : 이메일주소(로그인 ID), 닉네임, 비밀번호, 휴대폰번호</br>
                   2 선택항목 : OK캐쉬백 카드번호</br>
                   <br>③ 유료서비스 이용 시 수집하는 개인정보의 범위</br>
                    1. 회원 가입 시 수집한 정보와 동일</br>
                    2. 결제방법에 따라 결제창에 입력하는 개인정보는 결제대행사에 기록될 뿐 회사에 기록되지 않음</br>
                    <br>④ 상품 또는 용역 결제대금 출금 시 수집하는 개인정보의 범위</br>
                    1. 은행명, 계좌번호</br>
                    <br>
                </li>
                <li class="p-2">
                    <a name="a3" class="mt-4 mb-4 text-secondary" style="font-size: 16px;font-weight: 600; ">제3조 (개인정보 수집에 대한 동의)</a><br>
                    회사는 귀하께서 회사의 개인정보처리방침 또는 이용약관의 내용에 대해 회원가입 마지막 단계 시 팝업창을 통해 제공할 수 있는 절차를 마련하여, 회원가입 완료 버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다. 단, 회사는 다음 각 호의 어느 하나에 해당하는 경우에는 법령에 따라 이와 같은 동의 없이 이용자의 개인정보를 수집∙이용할 수 있습니다.</br>
                    <br> ①. 정보통신서비스의 제공에 관한 계약을 이행하기 위하여 필요한 개인정보로서 경제적 · 기술적인 사유로 통상적인 동의를 받는 것이 뚜렷하게 곤란한 경우</br>
                    ②. 정보통신서비스의 제공에 따른 요금정산을 위하여 필요한 경우</br>
                    ③. 그 밖에 법률에 특별한 규정이 있는 경우</br>
                    <br><br><br>
                </li>
                
            </ul>
        </div>
        </div>
    </div>
    <!-- footer import -->
    <%@ include file="/WEB-INF/views/user/inc/footer.jsp" %>
</body>
</html>