<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon" />


    <!-- ========================= CSS here ========================= -->
    <!-- 아이콘은 font-awesome으로 대체 -->
    <!-- <link rel="stylesheet" href="css/elegant-icons.css" type="text/css"> -->
    <!-- ========================= JS here ========================= -->
    <script src="resources/assets/js/jquery-3.6.0.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#headers').load("header.html");
            $('#footers').load("footer.html");
        });
         //========= Hero Slider
    </script>
    

</head>

<body>
    <!-- header import -->
    <%@ include file="/WEB-INF/views/user/inc/header.jsp" %>

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad" style="padding:0;">
        <div class="container" style="padding:25px 15px;background-color: white;">
            <div class="row">
                <label class="ml-3 mb-3">
                    <h5>장바구니</h5>
                </label>
                <div class="col-lg-12">

                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">상품정보</th>
                                    <th>옵션</th>
                                    <th>가격</th>
                                    <th>수량</th>
                                    <th>합계</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img class="d-lg-inline-block d-md-inline-block d-none"
                                            src="resources/assets/images/jaewoo/latte.jpg" alt="">
                                        <label>아이스아메리카노</label>

                                    </td>
                                    <td class="shoping__cart__price">
                                        ICE
                                    </td>
                                    <td class="shoping__cart__price">
                                        2,000
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <!-- <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div> -->
                                        <input class="qtybtn__" type='button' onclick='count("minus")' value='-' />
                                        <div class="qtyqty">
                                            <div id='result' style="display: inline;">1</div>
                                        </div>
                                        <input class="qtybtn__" type='button' onclick='count("plus")' value='+' />
                                    </td>
                                    <td class="shoping__cart__total">
                                        2,000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href="" style="color: gray;"><i class="fa fa-close"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="resources/assets/images/jaewoo/latte.jpg" alt="">
                                        <h5>라떼는말야</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        ICE
                                    </td>
                                    <td class="shoping__cart__price">
                                        2,000
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        2,000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="resources/assets/images/jaewoo/latte.jpg" alt="">
                                        <h5>이렇게하면바나나</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        ICE
                                    </td>
                                    <td class="shoping__cart__price">
                                        2,000
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        2,000
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>쿠폰</h5>
                            <form action="#">
                                <input type="text" placeholder="쿠폰번호를 입력해주세요.">
                                <!-- <button type="submit" class="site-btn">쿠폰검색</button> -->
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">쿠폰검색</button>
                                
                                    <!-- Modal -->
                                    <div class="modal fade coupon_modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="min-width: 800px;" >
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel" style="text-align: center;">사용 가능한 쿠폰</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- <div>
                                                    쿠폰이름
                                                    쿠폰 발행일 ~ 쿠폰마감일
                                                    할인율
                                                    할인금액
                                                    사용 가능여부

                                                </div> -->
                                                    <!-- 사용가능한 쿠폰 -->
                                                    
                                                    <div class="coupon-check">
                                                        
                                                        <div class="coupon-box" >
                                                            <div class="row" >
                                                              <div class="col-md-3" style="margin-top: 80px;">
                                                            <input class="coupon-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            </div> 
                                                            <div class="col-md-9">
                                                            <label class="coupon-check-label" for="defaultCheck1" >
                                                                <div class="coupon_card mb-3" style="max-width: 540px;">
                                                                    <div class="row g-0">
                                                                    <div class="col-md-4 col-sm-12">
                                                                        <img src="../assets/images/categories/cat-1.jpg" class="img-fluid rounded-start" alt="...">
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="coupon_card-body">
                                                                        <a class="coupon_card-title">[친구초대] 공짜리카노쿠폰</a>
                                                                        <p class="coupon_card-text1">1500원 할인</p>
                                                                        <p class="coupon_card-text2"><small class="text-muted">~2022.05.08 까지</small></p>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                     <!-- 사용가능한 쿠폰 -->
                                                    
                                                     <div class="coupon-check">
                                                        
                                                        <div class="coupon-box" >
                                                            <div class="row" >
                                                              <div class="col-md-3" style="margin-top: 80px;">
                                                            <input class="coupon-check-input" type="checkbox" value="" id="defaultCheck2">
                                                            </div> 
                                                            <div class="col-md-9">
                                                            <label class="coupon-check-label" for="defaultCheck2" >
                                                                <div class="coupon_card mb-3" style="max-width: 540px;">
                                                                    <div class="row g-0">
                                                                    <div class="col-md-4 col-sm-12">
                                                                        <img src="../assets/images/categories/cat-2.jpg" class="img-fluid rounded-start" alt="...">                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="coupon_card-body">
                                                                        <a class="coupon_card-title">[첫주문할인] 100원 쿠폰</a>
                                                                        <p class="coupon_card-text1">아메리카노 100원</p>
                                                                        <p class="coupon_card-text2"><small class="text-muted">~2022.05.08 까지</small></p>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                            </div>
                                                        </div>    
                                                    </div>

                                                   <!-- 사용가능한 쿠폰 -->
                                                    
                                                   <div class="coupon-check">
                                                        
                                                    <div class="coupon-box" >
                                                        <div class="row" >
                                                          <div class="col-md-3" style="margin-top: 80px;">
                                                        <input class="coupon-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
                                                            </div> 
                                                        <div class="col-md-9">
                                                        <label class="coupon-check-label" for="defaultCheck3" >
                                                            <div class="coupon_card mb-3" style="max-width: 540px;">
                                                                <div class="row g-0">
                                                                    <div class="col-md-4 col-sm-12">
                                                                        <img src="../assets/images/categories/cat-3.jpg" class="img-fluid rounded-start" alt="...">                                                                </div>
                                                                    <div class="col-md-8">
                                                                        <div class="coupon_card-body">
                                                                        <a class="coupon_card-title">[민초단할인] 30%할인쿠폰</a>
                                                                        <p class="coupon_card-text1">제주말차프라푸치노 30% 할인</p>
                                                                        <p class="coupon_card-text2"><small class="text-muted">~2022.05.08 까지</small></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                        </div>
                                                    </div>    
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <div class="col text-center">
                                            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button> -->
                                            <button type="button" class="btn btn-primary btn-lg btn-block">쿠폰선택</button>
                                            <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button> -->

                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>합계금액</h5>
                        <ul>
                            <li>주문하신금액 <span>6,000</span></li>
                            <li>합계금액 <span>6,000</span></li>
                        </ul>
                        <a href="#" class="primary-btn">주문확인</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->



    <!-- footer import -->
    <%@ include file="/WEB-INF/views/user/inc/footer.jsp" %>
    <!-- Js Plugins -->
    <script src="resources/assets/js/jquery.nice-select.min.js"></script>
    <script src="resources/assets/js/jquery-ui.min.js"></script>
    <script src="resources/assets/js/jquery.slicknav.js"></script>
    <script src="resources/assets/js/owl.carousel.min.js"></script>
    <script src="resources/assets/js/main_1.js"></script>
</body>

</html>