<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon"/>


    <!-- ========================= CSS here ========================= -->
    

     <!-- ========================= JS here ========================= -->
     <script src="resources/assets/js/jquery-3.6.0.js"></script>
     <script src="resources/assets/js/main.js"></script>
     <script type="text/javascript">
          jQuery(document).ready(function () {
             $('#headers').load("header.html");
             $('#footers').load("footer.html");  
         });
         //========= Hero Slider 
     </script>
    
</head>

<body>
<!-- header import -->
<%@ include file="header.jsp" %>
<div style="text-align: center; height:1000px;">
    <h1>바디 부탁해요~★</h1>
    <br>
</div>




<!-- footer import -->
<%@ include file="footer.jsp" %>
</body>
</html>
