<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon"/>


    <!-- ========================= CSS here ========================= -->
    

     <!-- ========================= JS here ========================= -->
     <script src="resources/assets/js/jquery-3.6.0.js"></script>
     <script src="resources/assets/js/main.js"></script>
     <script type="text/javascript">
          jQuery(document).ready(function () {
             $('#headers').load("header.html");
             $('#footers').load("footer.html");  
         });
         //========= Hero Slider 
     </script>
    
</head>

<body>
<!-- header import -->
<!-- <%@ include file="/WEB-INF/views/user/inc/header.jsp" %> -->
      <div id="headers"></div>
      <div class="container" style="margin: 30PX auto 50px; max-width: 600px;">
        <h3 class="text-center mt-60 mb-60" style="color:#6f6f6f">회원탈퇴</h3>
        <form>
            <div class="row">
                <div class="col-sm-4"><label class="regis_label" >아이디</label></div>
                <h5 class="col-sm-4"><label style="color:#6f6f6f">rlawodn0510</h5>
            </div>
            <br>
            
            <div class="row">
                <div class="col-sm-4"><label class="regis_label">비밀번호</label></div>
                <div class="col-sm-6"><input type="password" placeholder="비밀번호" class="form-control"></div>

            </div>
            <div class="row">
                <div class="col-sm-4 mt-15"><label class="regis_label">비밀번호 확인</label></div>
                <div class="col-sm-6 mt-10"><input type="password" placeholder="비밀번호 확인" class="form-control"></div>

            </div>
            <br>
            
            <br>
            <div class="row">
                <button type="submit" class="btn btn-outline-warning" style="margin:auto; width: 60%;"> 회원탈퇴확인
                    &nbsp;</button>
            </div>




        </form>
    </div>





<!-- footer import -->
<!-- <%@ include file="/WEB-INF/views/user/inc/footer.jsp" %> -->
      <div id="footers"></div>
</body>
</html>
