<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon"/>

     <!-- ========================= CSS here ========================= -->

     <!-- ========================= JS here ========================= -->
     <script src="resources/assets/js/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#headers').load("header.html");
            $('#footers').load("footer.html");
        });
         //========= Hero Slider
    </script>
</head>

<body>
    <!-- header import -->
    <%@ include file="header.jsp" %>

    <!-- https://www.greencar.co.kr/about/guide/ -->

    <div class="container">
        <h3 class="text-center mt-50 mb-50" style="color:#6f6f6f">이용 안내</h3>
        <br><br><br>
        <div class="row">
            <img src="resources/assets/images/product/product-8.jpg" class="rounded float-start col-sm-3 mb-5">
            <p class="col-sm-9 p-4 text-center">이미지에 해당하는 설명(설명까지 이미지 처리하는것도 나쁘지 않을듯)</p>
            
            <p class="col-sm-9 p-4 text-center">이미지에 해당하는 설명(설명까지 이미지 처리하는것도 나쁘지 않을듯)</p>
            <img src="resources/assets/images/product/product-9.jpg" class="rounded float-end col-sm-3">
        </div>
        <br>
        <div class="row justify-content-md-center mr-5 ml-5 pr-5 pl-5">
            <img src="resources/assets/images/product/product-7.jpg" class="rounded float-start col-sm-3">
            <p class="col-sm-9 p-4 text-center">이미지에 해당하는 설명(설명까지 이미지 처리하는것도 나쁘지 않을듯)</p>
            
            <p class="col-sm-9 p-4 text-center">이미지에 해당하는 설명(설명까지 이미지 처리하는것도 나쁘지 않을듯)</p>
            <img src="resources/assets/images/product/product-6.jpg" class="rounded float-end col-sm-3">
        </div>
        <br>
    </div>

    <!-- footer import -->
    <%@ include file="footer.jsp" %>
</body>
</html>