<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon" />


    <!-- ========================= CSS here ========================= -->

    <!-- ========================= JS here ========================= -->
    <script src="resources/assets/js/jquery-3.6.0.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#headers').load("header.html");
            $('#footers').load("footer.html");
        });
         //========= Hero Slider
    </script>
    <style>
        .p_mb {
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <!-- header import -->
    <%@ include file="header.jsp" %>
    <div class="container">
        <div class="col-12">
            <h3 class="text-center mt-50 mb-50" style="color:#6f6f6f">입점 문의</h3>

            <form>
                <div class="form-group row">
                    <lable class="col-lg-3 col-form-label ">&nbsp;</lable>
                    <lable class="col-lg-2 col-sm-4 col-form-label " style="font-size: 16px; font-weight: 700;">업체명
                    </lable>
                    <div class="col-lg-4 col-sm-7">
                        <input type="text" class="form-control round-form " placeholder="업체명"><br>
                    </div>
                </div>
                <div class="row">
                    <lable class="col-lg-3 col-sm-2">&nbsp;</lable>
                    <hr class="col-sm-7">
                </div>

                <div class="form-group row">
                    <lable class="col-lg-3 col-form-label ">&nbsp;</lable>
                    <lable class="col-lg-2 col-sm-4 col-form-label " style="font-size: 16px; font-weight: 700;">담당자명
                    </lable>
                    <div class="col-lg-4 col-sm-7">
                        <input type="text" class="form-control round-form " placeholder="담당자명"><br>
                    </div>
                </div>
                <div class="row">
                    <lable class="col-lg-3 col-sm-2">&nbsp;</lable>
                    <hr class="col-sm-7">
                </div>


                <div class="form-group row">
                    <lable class="col-lg-3 col-form-label ">&nbsp;</lable>
                    <lable class="col-lg-2 col-sm-4 col-form-label " style="font-size: 16px; font-weight: 700;">전화번호
                    </lable>
                    <div class="col-lg-4 col-sm-7">
                        <input type="text" class="form-control round-form " placeholder="전화번호"><br>
                    </div>
                </div>
                <div class="row">
                    <lable class="col-lg-3 col-sm-2">&nbsp;</lable>
                    <hr class="col-sm-7">
                </div>

                <div class="form-group row">
                    <lable class="col-lg-3 col-form-label ">&nbsp;</lable>
                    <lable class="col-lg-2 col-sm-4 col-form-label " style="font-size: 16px; font-weight: 700;">이메일
                    </lable>
                    <div class="col-lg-4 col-sm-7">
                        <input type="text" class="form-control round-form " placeholder="이메일"><br>
                    </div>
                </div>
                <div class="row">
                    <lable class="col-lg-3 col-sm-2">&nbsp;</lable>
                    <hr class="col-sm-7">
                </div>

                <div class="form-group row">
                    <lable class="col-lg-3 col-form-label ">&nbsp;</lable>
                    
                    <div class="col-lg-6 col-sm-12">
                        <div class="container-md-will border rounded flex-md-row mt-15 mb-10 shadow-sm " style="height:200px;">
                            <ul style="margin: 20px;">
                                <li>
                                    <a name="a1" class=" mb-4 text-secondary"
                                        style="font-size: 16px;font-weight: 600;">개인정보 수집 동의.</a>
                                    <p>당사의 온라인 상담 업무 처리를 위해서는 『개인정보보호법』 제15조 제1항 제1호 및</p>
                                    <p>제24조 제1항 제1호, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 제22조 제1항 및</p>    
                                    <p>제24조의 2 제1항에 따라 아래 사항에 대한 고객님의 동의가 필요합니다.</p><br>

                                    <p>워킹오더(www.walkingorder.com)는 이용자에 대하여 보다 더 질 높은 서비스 제공등을 위해 아래와 같이 이용자의 개인정보를 수집하고 있습니다.
                                        정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.</p>    
                                    <br><p>1. 개인정보 항목</p>    
                                    <p>이름, 메일주소, 휴대전화번호, 접속IP정보, 쿠키, 서비스 이용 기록, 접속 로그.</p>    
                                    <br><p>2. 수집목적</p>    
                                    <p>온라인 문의 접수 및 상담 진행</p>    
                                    <br><p>3. 보유.이용기간</p>    
                                    <p>개인정보 수집ㆍ이용에 관한 동의일로부터 문의 목적 달성 시점까지 </p>    
                                    <p>(단, 관련 법규에 별도 규정이 있는 경우, 해당 법규가 고지하는 기간에 따라 보유)</p>    
                                    <br><p>4. 동의를 거부할 권리 및 동의를 거부할 경우의 불이익</p>    
                                    <p>고객님은 위 사항에 동의를 거부할 권리가 있으나, 개인정보는 온라인 상담 업무 처리를 위해 필수적이므로 개인정보 수집 및 이용에 동의하셔야만 문의 접수가 가능합니다.</p>    
                                    <br><p> 워킹오더는 이용자의 별도 동의가 있는 경우나 법령에 규정된 경우를 제외하고는 이용자의 개인정보를 제3자에게 제공하지 않습니다.</p></p>    
                                    
                                    <br><br><br>
                                </li>
                                
                            </ul>
                            
                        </div>
                        <label class="checkbox" style="margin-top: 5px;">
                            <input type="checkbox" value="remember-me" style="font-size: 12px; margin-top: 2px; margin-left: 0px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;개인정보 수집동의<br><br>
                        </label>
                    </div>
                </div>
               

                <div class="row mb-40">
                    <lable class="col-md-5 col-sm-3 col-form-label ">&nbsp;</lable>
                    <div class="col-lg-2 col-md-2 col-sm-6">
                        <div style="margin: auto;width: 100%;">
                            <div class="along__">
                                <div class="button">
                                    <input type="button" class="btn" onclick="window.history.back()" value="등록"/>
                                </div>
                            </div>
                            <div class="along__">
                                <div class="button">
                                    <button type="button" class="btn" onclick="window.history.back()">뒤로 </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </form>

        </div>
    </div>
    <!-- footer import -->
    <%@ include file="footer.jsp" %>

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Js Plugins -->
    <script src="resources/assets/js/jquery-3.3.1.min.js"></script>
    <script src="resources/assets/js/bootstrap.min.js"></script>
    <script src="resources/assets/js/jquery.nice-select.min.js"></script>
    <script src="resources/assets/js/jquery-ui.min.js"></script>
    <script src="resources/assets/js/jquery.slicknav.js"></script>
    <script src="resources/assets/js/mixitup.min.js"></script>
    <script src="resources/assets/js/owl.carousel.min.js"></script>
    <script src="resources/assets/js/main_1.js"></script>
</body>

</html>