<!DOCTYPE html>
<html class="no-js" lang="kor">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Walking Order</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="resources/assets/images/logo/logo_only.svg" rel="icon" />

    <!-- ========================= CSS here ========================= -->

    <!-- ========================= JS here ========================= -->
    <script src="resources/assets/js/jquery-3.6.0.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#headers').load("header.html");
            $('#footers').load("footer.html");
        });
         //========= Hero Slider
    </script>

</head>

<body>
    <!-- header import -->
    <%@ include file="header.jsp" %>
    <div class="container">
        <!-- https://policy.naver.com/policy/service.html -->
        <div class="col-lg-12">
            <h3 class="text-center mt-50 mb-50" style="color:#6f6f6f">이용 약관</h3>
        
            <ul>
                <li><a href="#a1" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 여러분을 환영합니다.</a>
                </li>
                <li><a href="#a2" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 다양한 워킹오더 서비스를
                        즐겨보세요.</a></li>
                <li><a href="#a3" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 회원으로 가입하시면 워킹오더
                        서비스를 보다 편리하게 이용할 수 있습니다.</a></li>
                <li><a href="#a4" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 여러분이 제공한 콘텐츠를
                        소중히 다룰 것입니다.</a></li>
                <li><a href="#a5" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 여러분의 개인정보를 소중히
                        보호합니다.</a></li>
                <li><a href="#a6" class="text-secondary mb-2" style="font-size: 16px;font-weight: 600;margin-left:20px;">· 타인의 권리를 존중해
                        주세요.</a>
            </ul>

            <div class="container-md-will border rounded flex-md-row mt-15 mb-30 shadow-sm ">
                <ul class="m-5" style="padding: 5px;">
                    <li>
                        <a name="a1" class=" mb-4 text-secondary"
                            style="font-size: 16px;font-weight: 600;">여러분을 환영합니다.</a>
                        <p>워킹오더 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 워킹오더 서비스의 이용과 관련하여
                            워킹오더 서비스를 제공하는 워킹오더 주식회사(이하 ‘워킹오더’)와 이를 이용하는 워킹오더 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러
                            여러분의 워킹오더
                            서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.</p>
                        <p>워킹오더 서비스를 이용하시거나 워킹오더 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을 확인하거나
                            동의하게 되므로, 잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다</p>
                        <br><br><br>
                    </li>
                    <li>
                        <a name="a1" class=" mb-4 text-secondary"
                            style="font-size: 16px;font-weight: 600;">여러분을 환영합니다.</a>
                        <p>워킹오더는 www.wordkingorder.com을 비롯한 워킹오더 도메인의 웹사이트 및 응용프로그램(어플리케이션, 앱)을 통해
                            정보
                            검색, 다른 이용자와의 커뮤니케이션, 콘텐츠 제공, 상품 쇼핑 등 여러분의 생활에 편리함을 더할 수 있는 다양한 서비스를 제공하고 있습니다. 여러분은 PC, 휴대폰
                            등
                            인터넷 이용이 가능한 각종 단말기를 통해 각양각색의 워킹오더 서비스를 자유롭게 이용하실 수 있으며, 개별 서비스들의 구체적인 내용은 각 서비스 상의 안내, 공지사항,
                            워킹오더
                            웹고객센터(이하‘고객센터’) 도움말 등에서 쉽게 확인하실 수 있습니다.</p>
                        <p>워킹오더는 기본적으로 여러분 모두에게 동일한 내용의 서비스를 제공합니다. 다만,'청소년보호법'등 관련 법령이나 기타 개별
                            서비스 제공에서의 특별한 필요에 의해서 연령 또는 일정한 등급을 기준으로 이용자를 구분하여 제공하는 서비스의 내용, 이용 시간, 이용 횟수 등을 다르게 하는 등 일부
                            이용을
                            제한하는 경우가 있습니다. 자세한 내용은 역시 각 서비스 상의 안내, 공지사항, 고객센터 도움말 등에서 확인하실 수 있습니다.</p>
                        <p>워킹오더 서비스에는 기본적으로 본 약관이 적용됩니다만 워킹오더가 다양한 서비스를 제공하는 과정에서 부득이 본 약관 외 별도의
                            약관, 운영정책 등을 적용하는 경우(예, 워킹오더페이, V LIVE 등)가 있습니다. 그리고 워킹오더 계열사가 제공하는 특정 서비스의 경우에도(예, LINE,
                            SNOW등) 해당
                            운영 회사가 정한 고유의 약관, 운영정책 등이 적용될 수 있습니다. 이러한 내용은 각각의 해당 서비스 초기 화면에서 확인해 주시기 바랍니다.</p>
                        <br><br><br>
                    </li>
                    <li>
                        <a name="a3" class=" mb-4 text-secondary"
                            style="font-size: 16px;font-weight: 600;">회원으로 가입하시면 워킹오더 서비스를 보다 편리하게 이용할 수
                            있습니다.</a>
                        <p>여러분은 본 약관을 읽고 동의하신 후 회원 가입을 신청하실 수 있으며, 워킹오더는 이에 대한 승낙을 통해 회원 가입 절차를
                            완료하고 여러분께 워킹오더 서비스 이용 계정(이하 ‘계정’)을 부여합니다. 계정이란 회원이 워킹오더 서비스에 로그인한 이후 이용하는 각종 서비스 이용 이력을 회원
                            별로 관리하기
                            위해 설정한 회원 식별 단위를 말합니다.</p>
                        <p>회원은 자신의 계정을 통해 좀더 다양한 워킹오더 서비스를 보다 편리하게 이용할 수 있습니다. 이와 관련한 상세한 내용은
                            계정 운영정책 및 고객센터 내 워킹오더 회원가입 방법 등에서 확인해 주세요.</p>
                        <p>워킹오더는 단체에 속한 여러 구성원들이 공동의 계정으로 워킹오더 서비스를 함께 이용할 수 있도록 단체회원 계정도 부여하고
                            있습니다. 단체회원 구성원들은 하나의 계정 및 아이디(ID)를 공유하되 각자 개별적으로 설정한 비밀번호를 입력하여 계정에 로그인하고 각종 서비스를 이용하게 됩니다.
                            단체회원은 관리자와 멤버로 구성되며, 관리자는 구성원 전부로부터 권한을 위임 받아 단체회원을 대표하고 단체회원 계정을 운용합니다. 따라서 관리자는 단체회원 계정을
                            통해 별도
                            약관 또는 기존 약관 개정에 대해 동의하거나 단체회원에서 탈퇴할 수 있고, 멤버들의 단체회원 계정 로그인 방법 및 이를 통한 게시물 게재 등 워킹오더 서비스 이용을
                            관리(게시물 삭제 포함)할 수 있습니다. 본 약관에서 규정한 사항은 원칙적으로 구성원 모두에게 적용되며, 각각의 구성원은 다른 구성원들의 단체회원 계정 및
                            아이디(ID)를
                            통한 서비스 이용에 관해 연대책임을 부담합니다.</p>
                        <p>단체회원 계정 사용에서의 관리자, 멤버 등의 권한 및 (공동)책임에 관한 사항 등은 계정 운영정책 및 고객센터 내 워킹오더
                            단체회원(단체 아이디) 소개 등에서 확인해 주시기 바랍니다.</p>
                        <br><br><br>
                    </li>
                    <li>
                        <a name="a4" class=" mb-4 text-secondary"
                            style="font-size: 16px;font-weight: 600;">여러분이 제공한 콘텐츠를 소중히 다룰 것입니다.</a>
                        <p>워킹오더는 여러분이 게재한 게시물이 워킹오더 서비스를 통해 다른 이용자들에게 전달되어 우리 모두의 삶을 더욱 풍요롭게 해줄
                            것을 기대합니다. 게시물은 여러분이 타인 또는 자신이 보게 할 목적으로 워킹오더 서비스 상에 게재한 부호, 문자, 음성, 음향, 그림, 사진, 동영상, 링크 등으로
                            구성된
                            각종 콘텐츠 자체 또는 파일을 말합니다.</p>
                        <p>워킹오더는 여러분의 생각과 감정이 표현된 콘텐츠를 소중히 보호할 것을 약속 드립니다. 여러분이 제작하여 게재한 게시물에
                            대한 지식재산권 등의 권리는 당연히 여러분에게 있습니다.</p>
                        <p>한편, 워킹오더 서비스를 통해 여러분이 게재한 게시물을 적법하게 제공하려면 해당 콘텐츠에 대한 저장, 복제, 수정, 공중
                            송신, 전시, 배포, 2차적 저작물 작성(단, 번역에 한함) 등의 이용 권한(기한과 지역 제한에 정함이 없으며, 별도 대가 지급이 없는 라이선스)이 필요합니다.
                            게시물
                            게재로 여러분은 워킹오더에게 그러한 권한을 부여하게 되므로, 여러분은 이에 필요한 권리를 보유하고 있어야 합니다.</p>
                        <p>워킹오더는 여러분이 부여해 주신 콘텐츠 이용 권한을 저작권법 등 관련 법령에서 정하는 바에 따라 워킹오더 서비스 내 노출,
                            서비스 홍보를 위한 활용, 서비스 운영, 개선 및 새로운 서비스 개발을 위한 연구, 웹 접근성 등 법률상 의무 준수, 외부 사이트에서의 검색, 수집 및 링크 허용을
                            위해서만
                            제한적으로 행사할 것입니다. 만약, 그 밖의 목적을 위해 부득이 여러분의 콘텐츠를 이용하고자 할 경우엔 사전에 여러분께 설명을 드리고 동의를 받도록 하겠습니다.
                        </p>
                        <p>또한 여러분이 제공한 소중한 콘텐츠는 워킹오더 서비스를 개선하고 새로운 워킹오더 서비스를 제공하기 위해 인공지능 분야 기술
                            등의 연구 개발 목적으로 워킹오더 및 워킹오더 계열사에서 사용될 수 있습니다. 워킹오더는 지속적인 연구 개발을 통해 여러분께 좀 더 편리하고 유용한 서비스를 제공해
                            드릴 수
                            있도록 최선을 다하겠습니다.</p>
                        <p>워킹오더는 여러분이 자신이 제공한 콘텐츠에 대한 워킹오더 또는 다른 이용자들의 이용 또는 접근을 보다 쉽게 관리할 수 있도록
                            다양한 수단을 제공하기 위해 노력하고 있습니다. 여러분은 워킹오더 서비스 내에 콘텐츠 삭제, 비공개 등의 관리기능이 제공되는 경우 이를 통해 직접 타인의 이용 또는
                            접근을
                            통제할 수 있고, 고객센터를 통해서도 콘텐츠의 삭제, 비공개, 검색결과 제외 등의 조치를 요청할 수 있습니다. 다만, 일부 워킹오더 서비스의 경우 삭제, 비공개 등의
                            처리가
                            어려울 수 있으며, 이러한 내용은 각 서비스 상의 안내, 공지사항, 고객센터 도움말 등에서 확인해 주시길 부탁 드립니다.</p>
                        <br><br><br>
                    </li>
                    <li>
                        <a name="a5" class=" mb-4 text-secondary"
                            style="font-size: 16px;font-weight: 600;">여러분의 개인정보를 소중히 보호합니다.</a>
                        <p>워킹오더는 서비스의 원활한 제공을 위하여 회원이 동의한 목적과 범위 내에서만 개인정보를 수집.이용하며, 개인정보 보호 관련
                            법령에 따라 안전하게 관리합니다. 워킹오더가 이용자 및 회원에 대해 관련 개인정보를 안전하게 처리하기 위하여 기울이는 노력이나 기타 상세한 사항은 개인정보
                            처리방침에서
                            확인하실 수 있습니다.</p>
                        <p>워킹오더는 여러분이 서비스를 이용하기 위해 일정 기간 동안 로그인 혹은 접속한 기록이 없는 경우, 전자메일, 서비스 내
                            알림 또는 기타 적절한 전자적 수단을 통해 사전에 안내해 드린 후 여러분의 정보를 파기하거나 분리 보관할 수 있으며, 만약 이로 인해 서비스 제공을 위해 필수적인
                            정보가
                            부족해질 경우 부득이 관련 서비스 이용계약을 해지할 수 있습니다.</p>
                        <br><br><br>
                    </li>
                    <li>
                        <a name="a6" class=" mb-4 text-secondary" style="font-size: 16px;font-weight: 600;">타인의
                            권리를 존중해 주세요.</a>
                        <p>여러분이 무심코 게재한 게시물로 인해 타인의 저작권이 침해되거나 명예훼손 등 권리 침해가 발생할 수 있습니다. 워킹오더는
                            이에 대한 문제 해결을 위해 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 및 ‘저작권법’ 등을 근거로 권리침해 주장자의 요청에 따른 게시물 게시중단, 원
                            게시자의
                            이의신청에 따른 해당 게시물 게시 재개 등을 내용으로 하는 게시중단요청서비스를 운영하고 있습니다. 보다 상세한 내용 및 절차는 고객센터 내 게시중단요청서비스 소개를
                            참고해
                            주세요.</p>
                        <p>한편, 워킹오더 서비스를 통해 타인의 콘텐츠를 이용한다고 하여 여러분이 해당 콘텐츠에 대한 지식재산권을 보유하게 되는 것은
                            아닙니다. 여러분이 해당 콘텐츠를 자유롭게 이용하기 위해서는 그 이용이 저작권법 등 관련 법률에 따라 허용되는 범위 내에 있거나, 해당 콘텐츠의 지식재산권자로부터
                            별도의
                            이용 허락을 받아야 하므로 각별한 주의가 필요합니다.</p>
                        <p>워킹오더는 여러분이 워킹오더 서비스를 마음껏 이용할 수 있도록 여러분께 워킹오더 서비스에 수반되는 관련 소프트웨어 사용에 관한
                            이용 권한을 부여합니다. 이 경우 여러분의 자유로운 이용은 워킹오더가 제시하는 이용 조건에 부합하는 범위 내에서만 허용되고, 이러한 권한은 양도가 불가능하며,
                            비독점적 조건
                            및 법적고지가 적용된다는 점을 유의해 주세요.</p>
                        <br><br><br>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- footer import -->
    <%@ include file="footer.jsp" %>
</body>

</html>